[Unit]
Description=xdg-desktop-portal-openuri Service

[Service]
ExecStart=/usr/bin/xdg-desktop-portal-openuri

[Install]
WantedBy=graphical-session.target
